Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

:telescope: Add kube-prometheus-stack
  charts/devxp-app/values.yaml
Labels: devxp-app

Hotfix/devxp app/peerauthentication (#111)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.26 → 0.2.27
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.26.tgz
  .cr-release-packages/devxp-app-0.2.27.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.27.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  charts/devxp-app/templates/argo-rollout.yaml
  charts/devxp-app/templates/service-monitor.yaml
  charts/devxp-app/templates/service.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Hotfix/devxp app/peerauthentication (#112)
  charts/devxp-app/templates/argo-rollout.yaml
  charts/devxp-app/templates/service-monitor.yaml
  charts/devxp-app/templates/service.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.27 → 0.2.28
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.27.tgz
  .cr-release-packages/devxp-app-0.2.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.28.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
  charts/devxp-app/results.yaml
  charts/devxp-app/templates/_helpers.tpl
  charts/devxp-app/templates/_ns.tpl
  charts/devxp-app/templates/destination-rule.yaml
  charts/devxp-app/templates/peer-authentication.yaml
  charts/devxp-app/templates/service.yaml
  charts/devxp-app/templates/virtual-service.yaml
  charts/devxp-app/values.yaml
Labels: repo, devxp-app

Hotfix/devxp app/peerauthentication (#113)
  .github/workflows/datree.yaml
  charts/devxp-app/results.yaml
  charts/devxp-app/templates/_helpers.tpl
  charts/devxp-app/templates/_ns.tpl
  charts/devxp-app/templates/destination-rule.yaml
  charts/devxp-app/templates/peer-authentication.yaml
  charts/devxp-app/templates/service.yaml
  charts/devxp-app/templates/virtual-service.yaml
  charts/devxp-app/values.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.28 → 0.2.29
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.28.tgz
  .cr-release-packages/devxp-app-0.2.29.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.29.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  charts/devxp-app/results.yaml
  charts/devxp-app/templates/virtual-service.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:telescope: Add kube-prometheus-stack (#114)
  charts/devxp-app/results.yaml
  charts/devxp-app/templates/virtual-service.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.29 → 0.2.30
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.29.tgz
  .cr-release-packages/devxp-app-0.2.30.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.30.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.30.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.30.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

Hotfix/devxp app/bump (#117)
  .github/workflows/datree.yaml
Labels: repo

Bump devxp-app chart version: 0.2.30 → 0.2.31
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.30.tgz
  .cr-release-packages/devxp-app-0.2.31.tgz
  charts/devxp-app/README.md
Labels: devxp-app

.github/labeler.yml:

repo:
  - "*"
  - ".github/**"

devxp-app:
  - charts/devxp-app/**

devxp-dev:
  - charts/devxp-dev/**

devxp-infra:
  - charts/devxp-infra/**

cluster-bootstrap:
  - charts/cluster-bootstrap/**

tooling:
  - charts/tooling/**
