Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

:robot: [github actions actor] update artifact list
  devxp-app-0.2.52.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/templates/_readiness-probe.tpl
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#172)
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/templates/_readiness-probe.tpl
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.52 → 0.2.53
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.52.tgz
  .cr-release-packages/devxp-app-0.2.53.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.53.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/templates/_readiness-probe.tpl
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#173)
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/templates/_readiness-probe.tpl
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.53 → 0.2.54
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.53.tgz
  .cr-release-packages/devxp-app-0.2.54.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.54.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/rollouts/peer-authentication.yaml
  charts/devxp-app/templates/virtual-service.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#174)
  charts/devxp-app/templates/rollouts/peer-authentication.yaml
  charts/devxp-app/templates/virtual-service.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.54 → 0.2.55
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.54.tgz
  .cr-release-packages/devxp-app-0.2.55.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.55.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/istio/peer-authentication.yaml
  charts/devxp-app/templates/istio/virtual-service.yaml
Labels: devxp-app

Hotfix/devxp app/vs ports (#175)
  charts/devxp-app/templates/istio/peer-authentication.yaml
  charts/devxp-app/templates/istio/virtual-service.yaml
Labels: devxp-app

:zap: - Otel servicegraph
  charts/devxp-app/values.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.55.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph (#176)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.55 → 0.2.56
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.55.tgz
  .cr-release-packages/devxp-app-0.2.56.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.56.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - set actuagor default false
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - set actuagor default false (#177)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.56 → 0.2.57
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.56.tgz
  .cr-release-packages/devxp-app-0.2.57.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.57.tgz
Labels: repo

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

devxp-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-app/**'

devxp-dev:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-dev/**'

devxp-infra:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-infra/**'

cluster-bootstrap:
  - changed-files:
    - any-glob-to-any-file: 'charts/cluster-bootstrap/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'charts/tooling/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']
