Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.62.tgz
  .cr-release-packages/devxp-app-0.2.63.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.63.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - fix (#184)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.63 → 0.2.64
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.63.tgz
  .cr-release-packages/devxp-app-0.2.64.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.64.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
Labels: repo

:zap: - fix
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.64.tgz
Labels: none

:zap: - fix
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.64.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.64.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.64.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
Labels: repo

:zap: - fix
  .github/workflows/diff-comment.yaml
  .github/workflows/pr-config.yaml
Labels: repo

:zap: - fix
  .github/workflows/pr-config.yaml
Labels: repo

:zap: - fix
  .github/workflows/pr-config.yaml
Labels: repo

:zap: - fix
  .github/workflows/pr-config.yaml
Labels: repo

Hotfix/devxp app/helm diff2 (#189)
  .github/workflows/diff-comment.yaml
  .github/workflows/pr-config.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.64 → 0.2.65
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.64.tgz
  .cr-release-packages/devxp-app-0.2.65.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.65.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  .github/workflows/pr-config.yaml
Labels: repo

:zap: - fix
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

:zap: - fix (#190)
  .github/workflows/pr-config.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

devxp-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-app/**'

devxp-dev:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-dev/**'

devxp-infra:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-infra/**'

cluster-bootstrap:
  - changed-files:
    - any-glob-to-any-file: 'charts/cluster-bootstrap/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'charts/tooling/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']
