Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

.github/labeler.yml:

repo:
  - "*"
  - ".github/**"

devxp-app:
  - charts/devxp-app/**

devxp-dev:
  - charts/devxp-dev/**

devxp-infra:
  - charts/devxp-infra/**

cluster-bootstrap:
  - charts/cluster-bootstrap/**

tooling:
  - charts/tooling/**

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[changelog] :goat: Fix
  .github/workflows/changelog.yaml
Labels: repo

Feature/fix changelog (#125)
  .github/workflows/changelog.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[ci skip] :hammer: Test Changelog
  .github/workflows/changelog.yaml
Labels: repo

[ci skip] :hammer: Test Changelog
  .github/workflows/changelog.yaml
Labels: repo

[ci skip] :hammer: Test Changelog
  .github/workflows/changelog.yaml
Labels: repo

[ci skip] :hammer: Test Changelog
  .github/workflows/changelog.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/pr-config.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/pr-config.yaml
  charts/devxp-dev/results.yaml
  results_new.yaml
Labels: repo, devxp-dev

:hammer: Test Changelog
  .github/workflows/pr-config.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/pr-config.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/pr-config.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/pr-config.yaml
  results_new.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[diff-comment] Test Pipeline1
  .github/workflows/diff-comment.yaml
  charts/cluster-bootstrap/Chart.yaml
  charts/cluster-bootstrap/values-ci.yaml
  charts/cluster-bootstrap/values.yaml
  charts/devxp-app/values-ci.yaml
  charts/devxp-app/values-dev.yaml
  charts/devxp-dev/results.yaml
  charts/devxp-dev/values-ci.yaml
  charts/devxp-infra/values-ci.yaml
  charts/tooling/values-ci.yaml
Labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

Feature/pr comment (#128)
  .github/workflows/diff-comment.yaml
  .github/workflows/pr-config.yaml
  charts/cluster-bootstrap/Chart.yaml
  charts/cluster-bootstrap/values-ci.yaml
  charts/cluster-bootstrap/values.yaml
  charts/devxp-app/values-ci.yaml
  charts/devxp-app/values-dev.yaml
  charts/devxp-dev/values-ci.yaml
  charts/devxp-infra/values-ci.yaml
  charts/tooling/values-ci.yaml
Labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.34.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/cluster-bootstrap/README.md
Labels: cluster-bootstrap

:robot: [github actions actor] update artifact list
  cluster-bootstrap-0.0.1.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/diff-comment.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/diff-comment.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/diff-comment.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/diff-comment.yaml
Labels: repo

:hammer: Test Changelog
  .github/workflows/diff-comment.yaml
Labels: repo

Teste do RubenSSS
  .github/workflows/changelog.yaml
Labels: repo

Teste
  .github/workflows/changelog.yaml
Labels: repo

Fix 2
  .github/workflows/changelog.yaml
Labels: repo

:telescope: Add Monitoring Templates
  .gitignore
  charts/devxp-app/src/alerts.yaml
  charts/devxp-app/src/rules.yaml
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/monitoring/_helpers-monitoring.tpl
  charts/devxp-app/templates/monitoring/prometheus-rules.yaml
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
  charts/devxp-app/templates/rollouts/analysis.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/templates/rollouts/destination-rule.yaml
  charts/devxp-app/templates/rollouts/peer-authentication.yaml
  charts/devxp-app/templates/service-monitor.yaml
  charts/devxp-app/templates/tests/test-connection.yaml
  charts/devxp-app/values.yaml
Labels: repo, devxp-app
