Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: Change prometheus server to mimir
  charts/devxp-app/templates/rollouts/analysis.yaml
Labels: devxp-app

:zap: Change prometheus server to mimir (#210)
  charts/devxp-app/templates/rollouts/analysis.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.81.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: Add ArgoCD bootstrap files
  charts/devxp-app/templates/rollouts/analysis.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: Add ArgoCD bootstrap files (#211)
  charts/devxp-app/templates/rollouts/analysis.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.81 → 0.2.82
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.81.tgz
  .cr-release-packages/devxp-app-0.2.82.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.82.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: Change Bucket and Role name
  charts/devxp-app/templates/opentelemetry/instrumentaion.yaml
Labels: devxp-app

:zap: Change Bucket and Role name (#213)
  charts/devxp-app/templates/opentelemetry/instrumentaion.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.82 → 0.2.83
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.82.tgz
  .cr-release-packages/devxp-app-0.2.83.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.83.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: Change Bucket and Role name
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
  charts/devxp-app/templates/opentelemetry/instrumentaion.yaml
Labels: devxp-app

:zap: Change Bucket and Role name (#214)
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
  charts/devxp-app/templates/opentelemetry/instrumentaion.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.83 → 0.2.84
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.83.tgz
  .cr-release-packages/devxp-app-0.2.84.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.84.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: :tractor: :book:
  .gitignore
  charts/devxp-app/templates/_pod-annotations.tpl
  charts/devxp-app/templates/cluster-role.yaml
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
  charts/devxp-app/templates/rollouts/analysis.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/templates/rollouts/destination-rule.yaml
  charts/devxp-app/templates/warnings.tpl
  charts/devxp-app/values.yaml
Labels: repo, devxp-app

:zap: :tractor: :book: (#215)
  .gitignore
  charts/devxp-app/templates/_pod-annotations.tpl
  charts/devxp-app/templates/cluster-role.yaml
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
  charts/devxp-app/templates/rollouts/analysis.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/templates/rollouts/destination-rule.yaml
  charts/devxp-app/templates/warnings.tpl
  charts/devxp-app/values.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.84 → 0.2.85
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.84.tgz
  .cr-release-packages/devxp-app-0.2.85.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.85.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.85.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

fix error messages typo
  charts/devxp-app/templates/warnings.tpl
Labels: devxp-app

fix error messages typo (#216)
  charts/devxp-app/templates/warnings.tpl
Labels: devxp-app

Bump devxp-app chart version: 0.2.85 → 0.2.86
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.85.tgz
  .cr-release-packages/devxp-app-0.2.86.tgz
  charts/devxp-app/README.md
Labels: devxp-app

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

devxp-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-app/**'

devxp-dev:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-dev/**'

devxp-infra:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-infra/**'

cluster-bootstrap:
  - changed-files:
    - any-glob-to-any-file: 'charts/cluster-bootstrap/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'charts/tooling/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']
