Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

devxp-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-app/**'

devxp-dev:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-dev/**'

devxp-infra:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-infra/**'

cluster-bootstrap:
  - changed-files:
    - any-glob-to-any-file: 'charts/cluster-bootstrap/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'charts/tooling/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']

:zap: - Otel servicegraph (#160)
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
  charts/devxp-app/templates/service.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.42 → 0.2.43
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.42.tgz
  .cr-release-packages/devxp-app-0.2.43.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.43.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - Otel servicegraph
  charts/devxp-app/values.yaml
Labels: devxp-app

Hotfix/devxp app/actuator port (#161)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.43 → 0.2.44
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.43.tgz
  .cr-release-packages/devxp-app-0.2.44.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.44.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#162)
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.44.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#163)
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.44 → 0.2.45
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.44.tgz
  .cr-release-packages/devxp-app-0.2.45.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.45.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#164)
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.45 → 0.2.46
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.45.tgz
  .cr-release-packages/devxp-app-0.2.46.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.46.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#165)
  charts/devxp-app/templates/_liveness-probe.tpl
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.46 → 0.2.47
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.46.tgz
  .cr-release-packages/devxp-app-0.2.47.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.47.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/values.yaml
Labels: devxp-app
