Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

devxp-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-app/**'

devxp-dev:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-dev/**'

devxp-infra:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-infra/**'

cluster-bootstrap:
  - changed-files:
    - any-glob-to-any-file: 'charts/cluster-bootstrap/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'charts/tooling/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.38.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: Change Istio GW NS
  .github/workflows/pr-config.yaml
  README.md
  charts/devxp-app/values.yaml
Labels: repo, devxp-app

:zap: Change Istio GW NS (#153)
  .github/workflows/pr-config.yaml
  README.md
  charts/devxp-app/values.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.38 → 0.2.39
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.38.tgz
  .cr-release-packages/devxp-app-0.2.39.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.39.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#155)
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.39.tgz
  .cr-release-packages/tooling-0.1.28.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/monitoring/_helpers-monitoring.tpl
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#156)
  charts/devxp-app/templates/monitoring/_helpers-monitoring.tpl
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.39 → 0.2.40
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.39.tgz
  .cr-release-packages/devxp-app-0.2.40.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.40.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:zap: - Otel servicegraph
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Hotfix/devxp app/servicemonitor (#157)
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - Otel servicegraph
  charts/devxp-app/values.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.40.tgz
  charts/devxp-app/README.md
Labels: devxp-app

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph (#158)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.40 → 0.2.41
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.40.tgz
  .cr-release-packages/devxp-app-0.2.41.tgz
  charts/devxp-app/README.md
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: [github actions actor] update artifact list
  devxp-app-0.2.41.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:zap: - Otel servicegraph (#159)
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.41 → 0.2.42
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.41.tgz
  .cr-release-packages/devxp-app-0.2.42.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.42.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - Otel servicegraph
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
  charts/devxp-app/templates/service.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app
