Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

:telescope: Add Monitoring Templates
  .helmignore
Labels: repo

:telescope: Add Monitoring Templates
  renovate.json
Labels: repo

Feature/add scrape (#129)
  .gitignore
  .helmignore
  charts/devxp-app/src/alerts.yaml
  charts/devxp-app/src/rules.yaml
  charts/devxp-app/templates/deploy.yaml
  charts/devxp-app/templates/monitoring/_helpers-monitoring.tpl
  charts/devxp-app/templates/monitoring/prometheus-rules.yaml
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
  charts/devxp-app/templates/rollouts/analysis.yaml
  charts/devxp-app/templates/rollouts/argo-rollout.yaml
  charts/devxp-app/templates/rollouts/destination-rule.yaml
  charts/devxp-app/templates/rollouts/peer-authentication.yaml
  charts/devxp-app/templates/service-monitor.yaml
  charts/devxp-app/templates/tests/test-connection.yaml
  charts/devxp-app/values.yaml
  renovate.json
Labels: repo, devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.34.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/cluster-bootstrap/README.md
  charts/devxp-app/README.md
  charts/devxp-dev/README.md
  charts/devxp-infra/README.md
  charts/tooling/README.md
Labels: devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add Monitoring Templates
  .github/workflows/main.yaml
  charts/devxp-app/src/alerts.yaml
Labels: repo, devxp-app

:telescope: Add Monitoring Templates (#132)
  .github/workflows/main.yaml
  charts/devxp-app/src/alerts.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.34 → 0.2.35
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.34.tgz
  .cr-release-packages/devxp-app-0.2.35.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.35.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add Monitoring Templates
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:telescope: Add Monitoring Templates (#135)
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.35 → 0.2.36
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.35.tgz
  .cr-release-packages/devxp-app-0.2.36.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.36.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add Monitoring Templates
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:telescope: Add Monitoring Templates (#136)
  charts/devxp-app/templates/monitoring/servicemonitor.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.36.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add Monitoring Templates
  .cr-release-packages/devxp-app-0.2.36.tgz
  charts/devxp-app/values.yaml
Labels: devxp-app

:telescope: Add Monitoring Templates (#137)
  .cr-release-packages/devxp-app-0.2.36.tgz
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.36 → 0.2.37
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.37.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.37.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add Monitoring Templates
  charts/devxp-app/values.yaml
Labels: devxp-app

:telescope: Add Monitoring Templates
  charts/devxp-app/values.yaml
Labels: devxp-app

:telescope: Add Monitoring Templates (#149)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.37 → 0.2.38
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.37.tgz
  .cr-release-packages/devxp-app-0.2.38.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.38.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.38.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

.github/labeler.yml:

repo:
  - "*"
  - ".github/**"

devxp-app:
  - charts/devxp-app/**

devxp-dev:
  - charts/devxp-dev/**

devxp-infra:
  - charts/devxp-infra/**

cluster-bootstrap:
  - charts/cluster-bootstrap/**

tooling:
  - charts/tooling/**
