Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

.github/labeler.yml:

repo:
  - "*"
  - ".github/**"

devxp-app:
  - charts/devxp-app/**

devxp-dev:
  - charts/devxp-dev/**

devxp-infra:
  - charts/devxp-infra/**

cluster-bootstrap:
  - charts/cluster-bootstrap/**

tooling:
  - charts/tooling/**

Bump devxp-app chart version: 0.2.20 → 0.2.21
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Publishing chart package for devxp-app-0.2.21
  devxp-app-0.2.21.tgz
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.20.tgz
  .cr-release-packages/devxp-app-0.2.21.tgz
  .cr-release-packages/devxp-dev-0.0.0.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
  index.yaml
Labels: repo, devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.21.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: fix devxp-dev
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/values.yaml
Labels: devxp-dev

:hammer: fix devxp-dev (#98)
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/values.yaml
Labels: devxp-dev

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.21.tgz
  .cr-release-packages/devxp-dev-0.0.0.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-dev/README.md
Labels: devxp-dev

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: fix
  charts/devxp-dev/.bumpversion.cfg
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/templates/service-account.yaml
Labels: devxp-dev

:hammer: fix (#99)
  charts/devxp-dev/.bumpversion.cfg
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/templates/service-account.yaml
Labels: devxp-dev

Publishing chart package for devxp-dev-0.0.1
  devxp-dev-0.0.1.tgz
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.21.tgz
  .cr-release-packages/devxp-dev-0.0.0.tgz
  .cr-release-packages/devxp-dev-0.0.1.tgz
  charts/devxp-dev/README.md
  index.yaml
Labels: repo, devxp-dev

:robot: [github actions actor] update artifact list
  devxp-dev-0.0.1.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

Fix now
  charts/devxp-dev/templates/deploy.yaml
  charts/devxp-dev/values.yaml
Labels: devxp-dev

Fix now (#100)
  charts/devxp-dev/templates/deploy.yaml
  charts/devxp-dev/values.yaml
Labels: devxp-dev

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.21.tgz
  .cr-release-packages/devxp-dev-0.0.1.tgz
  charts/devxp-dev/README.md
Labels: devxp-dev

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:sparkles: Force artifact
  charts/devxp-dev/values.yaml
Labels: devxp-dev

:sparkles: Force artifact (#101)
  charts/devxp-dev/values.yaml
Labels: devxp-dev

:robot: Update Docs
  .cr-release-packages/devxp-dev-0.0.1.tgz
  charts/devxp-dev/README.md
Labels: devxp-dev

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hamer: force
  charts/devxp-dev/.bumpversion.cfg
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/values.yaml
Labels: devxp-dev

:hamer: force (#102)
  charts/devxp-dev/.bumpversion.cfg
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/values.yaml
Labels: devxp-dev

Publishing chart package for devxp-dev-0.0.2
  devxp-dev-0.0.2.tgz
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-dev-0.0.1.tgz
  .cr-release-packages/devxp-dev-0.0.2.tgz
  charts/devxp-dev/README.md
  index.yaml
Labels: repo, devxp-dev

:robot: [github actions actor] update artifact list
  devxp-dev-0.0.2.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: Fix Repository
  charts/devxp-dev/.bumpversion.cfg
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/templates/_helpers.tpl
  charts/devxp-dev/values.yaml
Labels: devxp-dev

:hammer: Fix Repository (#103)
  charts/devxp-dev/.bumpversion.cfg
  charts/devxp-dev/Chart.yaml
  charts/devxp-dev/templates/_helpers.tpl
  charts/devxp-dev/values.yaml
Labels: devxp-dev

Publishing chart package for devxp-dev-0.0.3
  devxp-dev-0.0.3.tgz
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-dev-0.0.2.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  charts/devxp-dev/README.md
  index.yaml
Labels: repo, devxp-dev

:robot: [github actions actor] update artifact list
  devxp-dev-0.0.3.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:star: Add SA parameters
  charts/devxp-app/templates/service-account.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app
