Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

.github/labeler.yml:

repo:
  - "*"
  - ".github/**"

devxp-app:
  - charts/devxp-app/**

devxp-dev:
  - charts/devxp-dev/**

devxp-infra:
  - charts/devxp-infra/**

cluster-bootstrap:
  - charts/cluster-bootstrap/**

tooling:
  - charts/tooling/**

:star: Add SA parameters (#104)
  charts/devxp-app/templates/service-account.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.21 → 0.2.22
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Publishing chart package for devxp-app-0.2.22
  devxp-app-0.2.22.tgz
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.22.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  charts/devxp-app/README.md
  index.yaml
Labels: repo, devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.22.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: fix name
  charts/devxp-app/templates/_helpers.tpl
Labels: devxp-app

:hammer: fix name (#105)
  charts/devxp-app/templates/_helpers.tpl
Labels: devxp-app

Bump devxp-app chart version: 0.2.22 → 0.2.23
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Publishing chart package for devxp-app-0.2.23
  devxp-app-0.2.23.tgz
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.22.tgz
  .cr-release-packages/devxp-app-0.2.23.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  charts/devxp-app/README.md
  index.yaml
Labels: repo, devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.23.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

🔭 Add istio PeerAuthentication mode
  charts/devxp-app/templates/peer-authentication.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Hotfix/devxp app/name (#106)
  charts/devxp-app/templates/peer-authentication.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.23 → 0.2.24
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

:telescope: Add kube-prometheus-stack
  .github/workflows/main.yaml
  charts/devxp-app/templates/_helpers.tpl
Labels: repo, devxp-app

Hotfix/devxp app/name (#107)
  .github/workflows/main.yaml
Labels: repo

Bump devxp-app chart version: 0.2.24 → 0.2.25
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

:telescope: Add kube-prometheus-stack
  .github/workflows/main.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/main.yaml
Labels: repo

Hotfix/devxp app/name (#108)
  .github/workflows/main.yaml
Labels: repo

Bump devxp-app chart version: 0.2.25 → 0.2.26
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.23.tgz
  .cr-release-packages/devxp-app-0.2.26.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.26.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  charts/devxp-app/values.yaml
Labels: devxp-app

:telescope: Add kube-prometheus-stack
  charts/devxp-app/templates/peer-authentication.yaml
Labels: devxp-app

Hotfix/devxp app/name (#109)
  charts/devxp-app/templates/peer-authentication.yaml
  charts/devxp-app/values.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.26.tgz
  charts/devxp-app/README.md
Labels: devxp-app

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

Hotfix/devxp app/peerauthentication (#110)
  .github/workflows/datree.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.26.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo
