Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

devxp-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-app/**'

devxp-dev:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-dev/**'

devxp-infra:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-infra/**'

cluster-bootstrap:
  - changed-files:
    - any-glob-to-any-file: 'charts/cluster-bootstrap/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'charts/tooling/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']

[devxp-app] :zap: Add helper for virtual-service
  charts/devxp-app/templates/_helpers.tpl
  charts/devxp-app/templates/istio/_virtual-service.tpl
  charts/devxp-app/templates/istio/virtual-service.yaml
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

[devxp-app] :zap: Add helper for virtual-service (#203)
  charts/devxp-app/templates/_helpers.tpl
  charts/devxp-app/templates/istio/_virtual-service.tpl
  charts/devxp-app/templates/istio/virtual-service.yaml
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.76 → 0.2.77
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.76.tgz
  .cr-release-packages/devxp-app-0.2.77.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.77.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[devxp-app] :zap: Add helper for virtual-service
  charts/devxp-app/templates/istio/_virtual-service.tpl
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

[devxp-app] :zap: Add helper for virtual-service (#204)
  charts/devxp-app/templates/istio/_virtual-service.tpl
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.77 → 0.2.78
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.77.tgz
  .cr-release-packages/devxp-app-0.2.78.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.78.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: add OTEL_LOGS_EXPORTER
  charts/devxp-app/templates/opentelemetry/instrumentaion.yaml
Labels: devxp-app

:zap: add OTEL_LOGS_EXPORTER (#205)
  charts/devxp-app/templates/opentelemetry/instrumentaion.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.78 → 0.2.79
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.78.tgz
  .cr-release-packages/devxp-app-0.2.79.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.79.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: add OTEL_LOGS_EXPORTER
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
Labels: devxp-app

:zap: add OTEL_LOGS_EXPORTER (#206)
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
Labels: devxp-app

Bump devxp-app chart version: 0.2.79 → 0.2.80
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.79.tgz
  .cr-release-packages/devxp-app-0.2.80.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.80.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: add OTEL_LOGS_EXPORTER
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
Labels: devxp-app

:zap: add OTEL_LOGS_EXPORTER (#207)
  charts/devxp-app/templates/opentelemetry/_opentelemetry.tpl
Labels: devxp-app

Bump devxp-app chart version: 0.2.80 → 0.2.81
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.80.tgz
  .cr-release-packages/devxp-app-0.2.81.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.81.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: Change prometheus server to mimir
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: Change prometheus server to mimir (#209)
  charts/devxp-app/values.yaml
Labels: devxp-app

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.81.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/cluster-bootstrap/README.md
  charts/devxp-app/README.md
  charts/devxp-dev/README.md
  charts/devxp-infra/README.md
  charts/tooling/README.md
Labels: devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/cluster-bootstrap-0.0.1.tgz
  .cr-release-packages/devxp-app-0.2.81.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
Labels: none
