Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

:robot: [github actions actor] update artifact list
  devxp-app-0.2.31.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

:telescope: Add kube-prometheus-stack
  .github/workflows/datree.yaml
Labels: repo

🛠️ Add quotes to image
  charts/devxp-app/templates/argo-rollout.yaml
  charts/devxp-app/templates/migration.yaml
  charts/devxp-app/templates/virtual-service.yaml
Labels: devxp-app

🛠️ Add quotes to image (#118)
  charts/devxp-app/templates/argo-rollout.yaml
  charts/devxp-app/templates/migration.yaml
  charts/devxp-app/templates/virtual-service.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.31 → 0.2.32
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.31.tgz
  .cr-release-packages/devxp-app-0.2.32.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
  charts/devxp-dev/README.md
  charts/devxp-infra/README.md
  charts/tooling/README.md
Labels: devxp-app, devxp-dev, devxp-infra, tooling

:robot: [github actions actor] update artifact list
  devxp-app-0.2.32.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

🔨 Fiz quotes
  charts/devxp-app/templates/argo-rollout.yaml
  charts/devxp-app/templates/migration.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.32 → 0.2.33
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.32.tgz
  .cr-release-packages/devxp-app-0.2.33.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.33.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:goat: Fix Backstage
  charts/devxp-app/templates/argo-rollout.yaml
  charts/devxp-app/templates/migration.yaml
Labels: devxp-app

:goat: Fix Backstage (#120)
  charts/devxp-app/templates/argo-rollout.yaml
  charts/devxp-app/templates/migration.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.33 → 0.2.34
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.33.tgz
  .cr-release-packages/devxp-app-0.2.34.tgz
  .cr-release-packages/devxp-dev-0.0.3.tgz
  .cr-release-packages/devxp-infra-0.0.9.tgz
  .cr-release-packages/tooling-0.1.28.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.34.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[ci skip] :hammer: Add Changelog
  charts/devxp-app/Changelog.md
  charts/devxp-dev/Changelog.md
  charts/devxp-infra/Changelog.md
  charts/tooling/Changelog.md
Labels: devxp-app, devxp-dev, devxp-infra, tooling

[changelog] 🔨 Add ChangeLog to Pipeline.
  .github/workflows/main.yaml
  charts/devxp-app/Changelog.md
  charts/devxp-dev/Changelog.md
  charts/devxp-infra/Changelog.md
  charts/tooling/Changelog.md
Labels: repo, devxp-app, devxp-dev, devxp-infra, tooling

[changelog] 🔨 Add ChangeLog to Pipeline. (#121)
  .github/workflows/main.yaml
  charts/devxp-app/Changelog.md
  charts/devxp-dev/Changelog.md
  charts/devxp-infra/Changelog.md
  charts/tooling/Changelog.md
Labels: repo, devxp-app, devxp-dev, devxp-infra, tooling

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[changelog] 🔨 Fix runs-on
  .github/workflows/datree.yaml
  .github/workflows/main.yaml
  LICENSE
Labels: repo

Feature/add changelog (#122)
  .github/workflows/datree.yaml
  .github/workflows/main.yaml
  LICENSE
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[changelog] Test
  .github/workflows/main.yaml
Labels: repo

Feature/add changelog (#123)
  .github/workflows/main.yaml
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[changelog] :goat: Fix
  .github/workflows/main.yaml
  README.md
Labels: repo

[changelog] :goat: Fix (#124)
  .github/workflows/main.yaml
  README.md
Labels: repo

:robot: Update Docs
  .cr-release-packages/devxp-app-0.2.34.tgz
Labels: none

.github/labeler.yml:

repo:
  - "*"
  - ".github/**"

devxp-app:
  - charts/devxp-app/**

devxp-dev:
  - charts/devxp-dev/**

devxp-infra:
  - charts/devxp-infra/**

cluster-bootstrap:
  - charts/cluster-bootstrap/**

tooling:
  - charts/tooling/**
