Repository devxp-tech/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, devxp-app, devxp-dev, devxp-infra, cluster-bootstrap, tooling

Bump devxp-app chart version: 0.2.65 → 0.2.66
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.65.tgz
  .cr-release-packages/devxp-app-0.2.66.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.66.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: test pipeline
  .github/workflows/pr-config.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

Hotfix/devxp app/test pipeline (#191)
  .github/workflows/pr-config.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.66 → 0.2.67
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.66.tgz
  .cr-release-packages/devxp-app-0.2.67.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.67.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: test pipeline
  .github/workflows/pr-config.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

:zap: test pipeline
  .github/workflows/pr-config.yaml
Labels: repo

:zap: test pipeline (#192)
  .github/workflows/pr-config.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.67 → 0.2.68
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.67.tgz
  .cr-release-packages/devxp-app-0.2.68.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.68.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: test pipeline
  .github/workflows/main.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

:zap: test pipeline (#193)
  .github/workflows/main.yaml
  charts/devxp-app/values-ci.yaml
Labels: repo, devxp-app

Bump devxp-app chart version: 0.2.68 → 0.2.69
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.68.tgz
  .cr-release-packages/devxp-app-0.2.69.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.69.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

:zap: - fix (#194)
  charts/devxp-app/values-ci.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.69 → 0.2.70
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.69.tgz
  .cr-release-packages/devxp-app-0.2.70.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.70.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:zap: - fix
  charts/devxp-app/values.yaml
Labels: devxp-app

:zap: - fix (#195)
  charts/devxp-app/values.yaml
Labels: devxp-app

Bump devxp-app chart version: 0.2.70 → 0.2.71
  charts/devxp-app/.bumpversion.cfg
  charts/devxp-app/Chart.yaml
Labels: devxp-app

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/devxp-app-0.2.70.tgz
  .cr-release-packages/devxp-app-0.2.71.tgz
  charts/devxp-app/README.md
Labels: devxp-app

:robot: [github actions actor] update artifact list
  devxp-app-0.2.71.tgz
Labels: repo

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

devxp-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-app/**'

devxp-dev:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-dev/**'

devxp-infra:
  - changed-files:
    - any-glob-to-any-file: 'charts/devxp-infra/**'

cluster-bootstrap:
  - changed-files:
    - any-glob-to-any-file: 'charts/cluster-bootstrap/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'charts/tooling/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']
